<app-header></app-header>

<h1 class="m-20">Detalles del Vídeo</h1>

<div class="flex-box m-20">

  <div id="data-details-video">
    <span><b>ID: </b></span> <span>{{respuesta.id}}</span>
    <span><b>Título: </b></span> <span>{{respuesta.title}}</span>
    <span><b>Subtítulo: </b></span> <span>{{respuesta.subtitle}}</span>
    <span><b>Imágen: </b></span> <span>{{respuesta.img}}</span>

    <div id="form-enviar-mensaje" class="flex-box">
      <form #form="ngForm" (submit)="enviarComentario(id_video,form,form.value)">
        <div class="form-group">
          <label for="mensaje">Mensaje</label>
          <textarea ngModel  name="mensaje" id="mensaje" cols="70" rows="10"></textarea>
        </div>
        <button class="button">Enviar</button>
      </form>
    </div>

  </div>

  <div id="img-details-video">
    <img class='img_detail' src={{respuesta.img}}>
  </div>

</div>

<div id="comentarios-details-video-container" class="m-20">
  <h3>Comentarios</h3>
  <hr>
  <div class="comentarios-details-video" *ngFor="let comentario of comentarios; let i = index">
    <div class="comentario">
      <b>{{comentario.author}}</b>: {{comentario.text}}
    </div>
  </div>
</div>
