<app-header></app-header>

<!-- *************** LAS CARDS ***************** -->
<div class="grid">
  <app-card [dataEntrante]="detalleVideo"
  *ngFor="let detalleVideo of listaVideos"></app-card>
</div>

<!-- ************** LISTA DE FAVORITOS ***************** -->
<div class="sidebar-container">
  <app-sidebar></app-sidebar>
</div>
