<div class="header">
  <ul class="menu">
    <li>
      <img [routerLink]="['/']" src="https://upload.wikimedia.org/wikipedia/commons/9/9e/YouTube_Logo_%282013-2017%29.svg" alt="logo" class="logo">
    </li>
    <li>
      <a [routerLink]="['/list-videos']">Lista de Vídeos</a>
    </li>
    <li>
      <a [routerLink]="['/login']" id="login-enlace" href="#">Salir</a>
    </li>
  </ul>

</div>
