<div class="card">
  <img class="image" [routerLink]="['/','videos',dataEntrante?.id]" [src]="dataEntrante?.img" alt="">
  <div class="wrapper-text" [routerLink]="['/','videos',dataEntrante?.id]">
    <div class="title">{{dataEntrante?.title}}</div>
    <div class="sub-title">{{dataEntrante?.subtitle}}</div>
  </div>
  <div>
    <button class="favorite" (click)="agregarFavoritos()">Add favorite</button>
  </div>
</div>
