<div>
  <h3 class="title-sidebar">Lista de favoritos</h3>
</div>
<div class="divider"></div>
<div>
  <ul class="favorite-list">
      <li *ngFor="let video of listaDeVideos">
          <div class="card">
              <img class="mini-image" [src]="video?.data?.img" alt="">
          </div>
<!--           <div>
              <div class="title-inside">
                  {{video?.data?.title}}
              </div>
          </div> -->
      </li>
  </ul>
</div>
