<div id=container-login>

  <div id="login">

    <h1>LOGIN</h1>
    <div class="form">
      <form [formGroup]="formLogin" (submit)="send()">

        <div>
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email">
        </div>
        <div *ngIf="formLogin.controls['email'].invalid && (formLogin.controls['email'].dirty || formLogin.controls['email'].touched)" class="error">
            El email es obligatorio y debe ser válido
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password">
        </div>
        <div *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)" class="error">
          El Password es obligatorio y debe contener 6 caractéres mínimo
        </div>

        <div>
          <label for="terms">Terminos y Condiciones</label>
          <input type="checkbox" id="terms" formControlName="terms">
        </div>
        <div *ngIf="formLogin.controls['terms'].invalid && (formLogin.controls['terms'].dirty || formLogin.controls['terms'].touched)" class="error">
          Se deben marcar los Terminos y Condiciones
        </div>

        <div id="boton-send">
          <button [disabled]="formLogin.invalid">Entrar</button>
        </div>

      </form>
    </div>

 <!--    <div>
      Válido: {{formLogin.valid | json}}
    </div> -->

  </div>

</div>
