@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable//themes//material.css';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';

/** --- GENERAL --- **/

body,html{
  margin: 0;
  padding: 0;
  font-size: .9rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.pt-1{
  padding-top: .25rem;
}

.m-20{
  margin: 20px;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

.error{
  color: red;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}



/** --- HEADER --- **/

.header{
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #f1f1f1;
}

.menu{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.logo{
  height: 2rem;
}

.menu li{
  cursor: pointer;
  font-weight: 600;
  padding: .5rem 1rem;
  text-align: center;
}

#login-enlace{
  float: right;
}

/** --- CARD ---  **/

.grid{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}

.card{
  width: 100%;
  min-height: 5rem;
  cursor: pointer;
  flex: 1;
}

.card .image{
  width: 18rem;
  height: 15rem;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 5px;
}

.title{
  font-weight: 600;
  font-size: 1.1rem;
}

.sub-title{
  font-size: .9rem;
}

.favorite{
  padding:.5rem;
  border:solid 1px #eaeaea;
  border-radius:.15rem;
}

.wrapper-text{
  padding: .5rem;
}

/** --- SIDEBAR --- **/

:host{
  padding-left: .5rem;
  padding-right: .5rem;
  display: block
}

.sidebar-container{
  margin: 20px;
  margin-top: 30px;
}

.title-sidebar{
  font-weight: 600;
}

.favorite-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.favorite-list li{
  padding: .5rem;
}

.mini-image{
  width: 70px;
  height: 50px;
  object-fit: cover;
}

.divider{
  border-top: solid 1px #ececec;
}

.title-inside{
  font-weight: 600;
}

/** --- VIDEO-DETAILS --- **/

#data-details-video{
  margin-right: 10%;
  margin-bottom: 50px;
  width: 35%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-auto-rows: minmax(30px, 30px);
}

#img-details-video{
  width: 700px;
  height: 500px;
  border: 5px solid black;
  border-radius: 5px;
}

#form-enviar-mensaje{
  margin-top:60px;
  display: block;
}

#img-details-video img{
  width: 100%;
  height: 100%;
}

.comentario{
  margin-bottom: 5px;
}

/** --- LIST-VIEWS --- **/
.video-image{
  width: 10rem;
  height: 6rem;
  object-fit: cover;
  border: 2px solid black;
}

#cabecera-list-views{
  margin-left: 10px;
}

@media only screen and (max-width: 1360px) {

  #form-enviar-mensaje{
    margin-top: 630px;
  }

  #comentarios-details-video-container{
    margin-top:250px;
  }
}

/** -- LOGIN --- **/
#container-login{
  height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#login{
  width: 600px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

#login .form{
  height: 80%;
}

#boton-send{
  margin-top: 20px;
  margin-bottom: 20px;
}
