<app-header></app-header>

<div>
  <h3 id="cabecera-list-views">
    LISTA DE VIDEOS
   <!--  <small>
      <a
        href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/templates/template-obj.component.ts"
        target="_blank"
      >
        Source
      </a>
    </small> -->
  </h3>
  <hr />
  <ngx-datatable
    class="material"
    [rows]="data"
    [columns]="cols"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
  >
  </ngx-datatable>

  <ng-template #hdrTpl let-column="column">{{column.name}}</ng-template>
    <ng-template #editTmpl let-row="row" let-column="column" let-value="value">
      <!-- {{ column.name }} -->
      <img class="video-image" src="{{value}}" *ngIf="column.name === 'img'" />
      <ng-container *ngIf="column.name !== 'img'">
        {{value}}
      </ng-container>
    </ng-template>
</div>
